<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="account.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="account.password"></ion-input>
  </ion-item>

  <div class="divider" style="width:100%; height:30px;"></div>
  <button ion-button full (click)="fnLogin();">Login</button>
  <button ion-button full (click)="fnSignUp();" color="secondary">Sign up</button>
</ion-content>
