<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Simple Login
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="fnLogout();">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
